@font-face{
    font-family: 'android';
    src: url('fontes/idroid.otf') format('opentype')
}
@import url('https://fonts.googleapis.com/css3?family=Bebas+Neue&display=swap');

:root{ 
    --cor0: #ebe5c5;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque:'Bebas Neue', cursive;
    --fonte-android:'Android', cursive;

}

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: var(--cor0);
    font-family: var(--fonte-padrao);
}

a.externo::after{
    content:'\00A0\1F517';
 
}


header{
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
    margin: 0px;
    min-height: 150px;
    padding-top: 10px;
}

header > h1{
    color: white;
    font-family: var(--fonte-padrao);
    margin-top: 10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.850);
    padding-bottom: 10px;
}

header > p{
    color: white;
    text-align: center;
    margin-top: 10px;
    max-width: 500px;
    margin: auto;
    padding-bottom: 50px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.850);
 
    
    
}

nav{
    background-color: var(--cor5);
    padding: 9px;

}

nav > a{
    color:var(--cor1);
    text-decoration: none;
    font-size: 0.7em;
    font-weight: bold;
    padding: 10px;
}

nav > a:hover{
    background-color:var(--cor3) ;
    color:var(--cor5) ;
    transition-duration: 0.5s;
    border-radius: 2px;
} 

main{
    display: block;
    margin: auto;
    margin-bottom: 30px;
    min-width: 300px;
    max-width: 900px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 0px 0px 10px 10px;
    line-height: 1.5em;
}

main > h1{
color: var(--cor5);

}

main strong{
    color: var(--cor4);
    padding: 2px 6px;
    font-weight: bold;
   
}

main a{
    text-decoration: none;
    font-weight: bold;
    color: var(--cor5);
    background-color: var(--cor1);
    padding: 2px 6px;
}

main a:hover{
    text-decoration: underline;
    color: var(--cor4);

}


div.video{
    background-color:var(--cor5);
    margin-bottom: 30px;
    margin: 0px 0px 30px  0px;
    padding: 20px;
    position: relative;
    padding-bottom: 59%;
}

div.video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;

}


h1{
    text-align: center;
    font-family: var(--fonte-android);
    padding-top: 10px;
}

h2{
    background-image: linear-gradient(to right,#c8ecd8 ,#ffffff);
    font-family: var(--fonte-android);
    color: var(--cor4);
    margin: 20px;
    
}

h3{
color: white;
padding: 20px;


}
p{
    text-indent: 25px;
    text-align: justify;
    margin: 20px;
}

img{
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
img.pequena{
    width: 50%;
}




aside{
    background-color: var(--cor1);
    padding: 10px;
    border-radius: 10px;
    margin-left:40px;
    margin-right:10px;
    max-width: 800px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

aside > h3{
    background-color: var(--cor4);
    color: #ffffff;
    padding: 5px;
    padding-left: 10px;
    margin: -10px -10px 0px -10px;
    border-radius:10px 10px 0px 0px ;

}

aside > article{
    list-style-position: inside;
}

ul{
    list-style-type: '\2714\00A0\00A0';
    columns: 2;
    padding-left: 20px;
}


footer{
    text-align: center;
    font-size: 0.8em;
    background-color: var(--cor5);
    box-sizing: unset;
    color: white;
    padding: 5px;
}

footer > a{
    color: #ffffff;
    font-weight:bolder ;
    text-decoration: none;
}

footer a:hover{
    color:var(--cor1);
    text-decoration: underline;

}
